<form [formGroup]="loginForm" novalidate >
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Admin's Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username">
            @if (loginForm.controls['username'].hasError('required')) {
              <mat-error>username is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password">
            @if (loginForm.controls['password'].hasError('required')) {
              <mat-error>password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
