@if (currentAction!='list') {
  <app-book-details/>
}

@if (currentAction=='list') {

    <div class="m-10 ">
      <button (click)="addBook()" class="bg-blue-500 w-20 h-8 font-thin
      text-white
      rounded-md ml-1 text-center hover:bg-blue-700 ">
      <mat-icon class="align-bottom ">plus_one</mat-icon>

      افزودن</button>
      <button (click)="addBook()" class="bg-red-500 w-20 h-8 font-thin
      text-white
      rounded-md ml-1 text-center hover:bg-red-700  ">
      <mat-icon class="align-bottom ">exposure_neg_1</mat-icon>
      حذف</button>
      <button (click)="addBook()" class="bg-green-500 mr-1 w-20 h-8 font-thin
      text-white
      rounded-md align-top text-center hover:bg-green-700 ">
      <mat-icon class="align-bottom ">edit</mat-icon>

      ویرایش</button>
    </div>

  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg m-10  ">

    <table mat-table [dataSource]="data" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="font-header text-gray-600 ">
      <mat-icon  class="align-bottom text-gray-600  mx-1  ">perm_identity</mat-icon>

      شناسه </th>
    <td mat-cell *matCellDef="let element" class="font-titles"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title" >
    <th mat-header-cell *matHeaderCellDef class="font-header text-gray-600 ">
      <mat-icon class="align-bottom text-gray-600  mx-1 "> title</mat-icon>
       عنوان
      </th>
    <td mat-cell *matCellDef="let element" class="font-titles"> {{element.title}} </td>
  </ng-container>


  <ng-container matColumnDef="writer" >
    <th mat-header-cell *matHeaderCellDef class="font-header "> نویسنده </th>
    <td mat-cell *matCellDef="let element" class="font-titles"> {{element.writer}} </td>
  </ng-container>

  <ng-container matColumnDef="publisher" >
    <th mat-header-cell *matHeaderCellDef class="font-header text-gray-600">
      <mat-icon class="align-bottom text-gray-600  mx-1 ">  publish</mat-icon>
      ناشر </th>
    <td mat-cell *matCellDef="let element" class="font-titles"> {{element.publisher}} </td>
  </ng-container>

  <ng-container matColumnDef="price" >
    <th mat-header-cell *matHeaderCellDef class="font-header text-gray-600">
      <mat-icon  class="align-bottom text-gray-600  mx-1 ">attach_money</mat-icon>
      قیمت </th>
    <td mat-cell *matCellDef="let element" class="font-titles ">
      <span class="border border-green-500 box-border inline-block w-14 py-1 text-center rounded-md
      hover:bg-green-500 hover:text-white ">
      {{element.price}}
    </span>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
}

